In [1]:
import pandas as pd
import numpy as np

In [3]:
slum = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Removed\slums_norm_withbothpts_onlycountries.csv")

In [5]:
slum

,country,year,pct_slums,norm_pct_slums,norm_with_pts,norm_log5
0,Germany,2017.0,0.000000,1.000000,5.000000,32.000000
1,Denmark,2017.0,0.000000,1.000000,5.000000,32.000000
2,Finland,2017.0,0.000000,1.000000,5.000000,32.000000
3,France,2017.0,0.000000,1.000000,5.000000,32.000000
4,Belgium,2017.0,0.000000,1.000000,5.000000,32.000000
...,...,...,...,...,...,...
199,Afghanistan,2017.0,71.210000,0.244055,1.220276,7.809766
200,Sudan,2017.0,76.223333,0.190835,0.954176,6.106723
201,Democratic Republic of Congo,2017.0,77.133333,0.181175,0.905874,5.797594
202,Chad,2017.0,82.846667,0.120524,0.602619,3.856759
203,South Sudan,2017.0,94.200000,0.000000,0.000000,0.000000

In [79]:
elec = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\electric_with_allpts_onlycountries.csv")

In [81]:
hap = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\happiness_20202024.csv")

In [83]:
gdp = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\GDP_0417.csv")

In [85]:
r = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_D_E\renew_20182022.csv")

In [87]:
r_corr = r[['country_c', 'renew']]

In [89]:
gdp_corr = gdp[['country_c', 'gdp']]

In [91]:
gr_corr = pd.merge(r_corr, gdp_corr, on = 'country_c', how = 'inner')

In [93]:
gr_corr = gr_corr[['renew', 'gdp']]

In [95]:
elec_corr = elec[['country', 'access_electricity']]

In [97]:
gre_corr = pd.merge(gdp_corr, elec, left_on = 'country_c', right_on = 'country',  how = 'inner')

In [99]:
gre_corr = pd.merge(gre_corr, r_corr, left_on = 'country', right_on = 'country_c',  how = 'inner')

In [101]:
gre_corr2 = gre_corr[['gdp', 'access_electricity', 'renew']]

In [105]:
gre_corr2.corr()

                         gdp  access_electricity     renew
gdp                 1.000000            0.514504 -0.074217
access_electricity  0.514504            1.000000 -0.196599
renew              -0.074217           -0.196599  1.000000

In [145]:
greh = pd.merge(gre_corr, hap, on = 'country', how = 'inner')

In [147]:
greh2 = greh[['gdp',  'access_electricity',
      'renew', 'happiness']]

In [151]:
greh_corr = greh2.corr()
type(greh_corr)

pandas.core.frame.DataFrame

In [153]:
greh.describe()

,gdp,year_x,access_electricity,norm_access_electricity,norm_with_pts,norm_pts_log5,renew,year_y,happiness,norm_hap,happiness_log4_n
count,145.00000,145.0,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000,145.000000
mean,26111.19847,2017.0,84.397806,0.834627,4.173135,26.708063,39.274241,2021.982759,5.528409,0.611256,2.445024
std,25445.03219,0.0,25.847816,0.273970,1.369850,8.767037,31.718248,0.490938,1.123270,0.193181,0.772724
min,836.91335,2017.0,8.636364,0.031605,0.158027,1.011370,0.000000,2020.000000,1.974200,0.000000,0.000000
25%,6178.23060,2017.0,78.854545,0.775872,3.879360,24.827905,12.219025,2022.000000,4.681400,0.465587,1.862347
50%,16488.52040,2017.0,99.645455,0.996242,4.981210,31.879746,29.817098,2022.000000,5.727200,0.645444,2.581777
75%,39870.70540,2017.0,100.000000,1.000000,5.000000,32.000000,64.668641,2022.000000,6.332800,0.749596,2.998383
max,134529.65000,2017.0,100.000000,1.000000,5.000000,32.000000,100.000000,2024.000000,7.788800,1.000000,4.000000

In [179]:
greh.to_csv('Greh_corr_0417.csv', index=False, header=True)

In [181]:
un = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\unemploy_20192023.csv")

In [183]:
crime = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\Crime_2024.csv")

In [185]:
un2 = un[['country_c', 'unem']]

In [187]:
crime2 = crime[['country_c', 'crime_rate']]

In [189]:
uc = pd.merge(un2, crime, on = 'country_c',  how = 'inner')

In [191]:
grehuc = pd.merge(greh, uc, on = 'country_c', how = 'inner')

In [193]:
grehuc2 = grehuc[[ 'gdp', 'access_electricity',
    'renew',  'happiness', 'unem','crime_rate']]

In [197]:
grehuc.corr(numeric_only = True)

,gdp,year_x,access_electricity,norm_access_electricity,norm_with_pts,norm_pts_log5,renew,year_y,happiness,norm_hap,happiness_log4_n,unem,crime_rate,safety,norm_crime_rate,norm_crime_rate_log16
gdp,1.000000,NaN,0.462719,0.462719,0.462719,0.462719,-0.032351,0.031181,0.716184,0.716184,0.716184,-0.271708,-0.521533,0.521533,0.521533,0.521533
year_x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
access_electricity,0.462719,NaN,1.000000,1.000000,1.000000,1.000000,-0.248756,0.106373,0.597139,0.597139,0.597139,-0.098585,-0.388915,0.388915,0.388915,0.388915
norm_access_electricity,0.462719,NaN,1.000000,1.000000,1.000000,1.000000,-0.248756,0.106373,0.597139,0.597139,0.597139,-0.098585,-0.388915,0.388915,0.388915,0.388915
norm_with_pts,0.462719,NaN,1.000000,1.000000,1.000000,1.000000,-0.248756,0.106373,0.597139,0.597139,0.597139,-0.098585,-0.388915,0.388915,0.388915,0.388915
norm_pts_log5,0.462719,NaN,1.000000,1.000000,1.000000,1.000000,-0.248756,0.106373,0.597139,0.597139,0.597139,-0.098585,-0.388915,0.388915,0.388915,0.388915
renew,-0.032351,NaN,-0.248756,-0.248756,-0.248756,-0.248756,1.000000,0.013310,0.081065,0.081065,0.081065,-0.011027,0.131438,-0.131438,-0.131438,-0.131438
year_y,0.031181,NaN,0.106373,0.106373,0.106373,0.106373,0.013310,1.000000,0.147762,0.147762,0.147762,-0.011669,-0.013663,0.013663,0.013663,0.013663
happiness,0.716184,NaN,0.597139,0.597139,0.597139,0.597139,0.081065,0.147762,1.000000,1.000000,1.000000,-0.352350,-0.399529,0.399529,0.399529,0.399529
norm_hap,0.716184,NaN,0.597139,0.597139,0.597139,0.597139,0.081065,0.147762,1.000000,1.000000,1.000000,-0.352350,-0.399529,0.399529,0.399529,0.399529
happiness_log4_n,0.716184,NaN,0.597139,0.597139,0.597139,0.597139,0.081065,0.147762,1.000000,1.000000,1.000000,-0.352350,-0.399529,0.399529,0.399529,0.399529
unem,-0.271708,NaN,-0.098585,-0.098585,-0.098585,-0.098585,-0.011027,-0.011669,-0.352350,-0.352350,-0.352350,1.000000,0.257495,-0.257495,-0.257495,-0.257495
crime_rate,-0.521533,NaN,-0.388915,-0.388915,-0.388915,-0.388915,0.131438,-0.013663,-0.399529,-0.399529,-0.399529,0.257495,1.000000,-1.000000,-1.000000,-1.000000
safety,0.521533,NaN,0.388915,0.388915,0.388915,0.388915,-0.131438,0.013663,0.399529,0.399529,0.399529,-0.257495,-1.000000,1.000000,1.000000,1.000000
norm_crime_rate,0.521533,NaN,0.388915,0.388915,0.388915,0.388915,-0.131438,0.013663,0.399529,0.399529,0.399529,-0.257495,-1.000000,1.000000,1.000000,1.000000
norm_crime_rate_log16,0.521533,NaN,0.388915,0.388915,0.388915,0.388915,-0.131438,0.013663,0.399529,0.399529,0.399529,-0.257495,-1.000000,1.000000,1.000000,1.000000

In [171]:
func = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\func_gov_20192023.csv")

In [173]:
atk = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\data\Category_B\atk_20202021.csv")

In [175]:
# cat_abcd.corr(numeric_only=True)

In [211]:
atk2 = atk[['country_c', 'ineq']]

In [215]:
func2 = func[['country_c', 'gov']]
type(atk2)

pandas.core.frame.DataFrame

In [219]:
grehuca = pd.merge(grehuc, atk2, on = 'country_c', how = 'inner')

In [233]:
grehucaf =  pd.merge(grehuca, func2, on = 'country_c', how = 'inner')
grehucaf =grehucaf[[ 'gdp', 'access_electricity',
        'renew',  'happiness', 
        'unem','crime_rate',
        'ineq', 'gov']]

In [237]:
grehucaf_corr = grehucaf.corr(numeric_only = True)

In [239]:
grehucaf_corr.to_csv('Grehucaf_corr_0418.csv', index=False, header=True)