In [211]:
import pandas as pd
import numpy as np
import country_converter as coco

In [213]:
life = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\life_expect_withpts_onlycountries0415.csv")
pol = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\pollution_withpts_onlycountries0415.csv")
san = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\sanitation_withpts_onlycountries0415.csv")
water = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\water_rights_withpts_onlycountries0415.csv")
food = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_A\food_insecure_withpts_onlycountries0415.csv")

In [215]:
food_water = pd.merge(food, water, on = 'country_c', how = 'outer')

In [217]:
san_pol = pd.merge(san, pol, on = 'country_c', how = 'outer')
san_pol

,country_x,year_x,sanitation_value,norm_sanitize,norm_sanitize_withpts5,norm_sanitize_withpts_log5,country_c,santitation_log32_n,country_y,year_y,pm_value,norm_pm_value,norm_with_pts,norm_with_pts_log5,pollution_log32_n
0,NaN,NaN,NaN,NaN,NaN,NaN,Afghanistan,NaN,Afghanistan,2014.5,1.000000,0.000000,0.000000,0.000000,0.000000
1,Albania,2018.5,99.534355,0.994466,4.972328,31.822899,Albania,31.822899,Albania,2014.5,0.234441,0.765559,3.827797,24.497899,24.497899
2,Algeria,2018.0,96.150655,0.954249,4.771244,30.535963,Algeria,30.535963,Algeria,2014.5,0.276542,0.723458,3.617288,23.150644,23.150644
3,American Samoa,2018.0,98.517670,0.982382,4.911909,31.436219,American Samoa,31.436219,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,2018.0,98.711959,0.984691,4.923455,31.510114,American Samoa,31.510114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Venezuela (Bolivarian Republic of),2018.0,96.084765,0.953466,4.767329,30.510903,Venezuela,30.510903,Venezuela,2014.5,0.228155,0.771845,3.859227,24.699054,24.699054
225,Viet Nam,2018.0,87.510254,0.851554,4.257769,27.249724,Vietnam,27.249724,Vietnam,2014.5,0.256506,0.743494,3.717469,23.791803,23.791803
226,Yemen,2018.0,57.959654,0.500332,2.501660,16.010623,Yemen,16.010623,Yemen,2014.5,0.573833,0.426167,2.130834,13.637335,13.637335
227,Zambia,2018.0,54.358722,0.457533,2.287667,14.641066,Zambia,14.641066,Zambia,2014.5,0.192954,0.807046,4.035231,25.825477,25.825477
228,Zimbabwe,2018.0,65.244798,0.586919,2.934596,18.781412,Zimbabwe,18.781412,Zimbabwe,2014.5,0.127397,0.872603,4.363014,27.923289,27.923289

In [219]:
san_pol = san_pol[['country_c', 'sanitation_value', 'santitation_log32_n', 'pm_value', 'pollution_log32_n']]

In [221]:
food_water = food_water[['country_c', 'modtosev_food_insecure_pct', 'foodinsecure_log32_n', 'water_pct', 'water_log32_n']]

In [223]:
life = life[['country_c', 'avg_life', 'lifeexpect_log32_n']]

In [225]:
spfw = pd.merge(san_pol, food_water, on = 'country_c', how = 'outer')

In [227]:
spfwl = pd.merge(spfw, life, on = 'country_c', how = 'outer')

In [229]:
spfwl_san = spfwl.loc[spfwl['santitation_log32_n'].isna()]

In [231]:
spfwl.columns = ['country_c', 'sanitation_value', 'sanitation_log32_n', 'pm_value',
       'pollution_log32_n', 'modtosev_food_insecure_pct',
       'foodinsecure_log32_n', 'water_pct', 'water_log32_n', 'avg_life',
       'lifeexpect_log32_n']

In [233]:
spfwl_san = spfwl.loc[spfwl['sanitation_log32_n'].isna()]
spfwl_san = spfwl_san[['country_c']]

In [235]:
# List of Countries with no value for Sanitation metric

spfwl_sanl = spfwl_san['country_c'].to_list()

In [237]:
spfwl_pol = spfwl.loc[spfwl['pollution_log32_n'].isna()]

In [239]:
spfwl_pol = spfwl_pol[['country_c']]

In [241]:
spfwl.columns

Index(['country_c', 'sanitation_value', 'sanitation_log32_n', 'pm_value',
       'pollution_log32_n', 'modtosev_food_insecure_pct',
       'foodinsecure_log32_n', 'water_pct', 'water_log32_n', 'avg_life',
       'lifeexpect_log32_n'],
      dtype='object')

In [243]:
spfwl_food = spfwl.loc[spfwl['foodinsecure_log32_n'].isna()]

In [245]:
spfwl_food = spfwl_food[['country_c']]

In [247]:
spfwl_water = spfwl.loc[spfwl['water_log32_n'].isna()]

In [249]:
# food, water, pol, san, 

spfwl_life = spfwl.loc[spfwl['lifeexpect_log32_n'].isna()]

In [253]:
spfwl_water = spfwl_water[['country_c']]
spfwl_life = spfwl_life[['country_c']]

     country_c
140  Melanesia

In [207]:
spfwl_life = spfwl_life.value_counts('country_c')
spfwl_life

KeyError: 'country_c'

In [197]:
spfwl_water = spfwl_water.value_counts('country_c')
spfwl_food = spfwl_food.value_counts('country_c')
spfwl_pol = spfwl_pol.value_counts('country_c')
spfwl_san = spfwl_san.value_counts('country_c')

In [259]:
spfwl_sf = pd.merge(spfwl_san, spfwl_food, on = 'country_c', how = 'outer')

In [291]:
spfwl_water2 = spfwl_water2[['country_c', 'water_count']]

In [341]:
spfwl_water2 = spfwl_water.value_counts('country_c').reset_index()
spfwl_water2['water_count'] = spfwl_water2['count']
spfwl_water2

                    country_c  count  water_count
0                 Afghanistan      1            1
1                      Kosovo      1            1
2   Wallis and Futuna Islands      1            1
3                     Vatican      1            1
4                      Taiwan      1            1
5                       Samoa      1            1
6                     Morocco      1            1
7                   Melanesia      1            1
8                      Jersey      1            1
9                      Angola      1            1
10                   Guernsey      1            1
11                    Curacao      1            1
12                    Croatia      1            1
13             Congo Republic      1            1
14                      Aruba      1            1
15                   Anguilla      1            1
16             Western Sahara      1            1

In [369]:
spfwl_food2 = spfwl_food.value_counts('country_c').reset_index()
spfwl_food2['food_count'] = spfwl_food2['count']

In [371]:
spfwl_san2 = spfwl_san.value_counts('country_c').reset_index()
spfwl_san2['san_count'] = spfwl_san2['count']

In [391]:
spfwl_pol2 = spfwl_pol.value_counts('country_c').reset_index()
spfwl_pol2['pol_count'] = spfwl_pol2['count']

In [375]:
spfwl_life2 = spfwl_life.value_counts('country_c').reset_index()
spfwl_life2['life_count'] = spfwl_life2['count']

In [377]:
spfwl_sf = pd.merge(spfwl_san2, spfwl_food2, on = 'country_c', how = 'left')

In [379]:
spfwl_sfp = pd.merge(spfwl_sf, spfwl_pol2, on = 'country_c', how = 'left')
spfwl2 = spfwl.value_counts('country_c').reset_index()

In [381]:
spfwl_sfpw = pd.merge(spfwl_sfp, spfwl_water2, on = 'country_c', how = 'left')

MergeError: Passing 'suffixes' which cause duplicate columns {'count_x'} is not allowed.

In [397]:
merge = pd.merge(spfwl_life2, spfwl_water2, on = 'country_c', how = 'outer')

In [402]:
merge = merge[['country_c', 'life_count', 'water_count']]

In [404]:
merge2 = pd.merge(spfwl_food2, merge,  on = 'country_c', how = 'outer')

In [408]:
merge2 = merge2.drop('count', axis = 1)

In [414]:
merge3 = pd.merge(spfwl_pol2, merge2,  on = 'country_c', how = 'outer')
merge3 = merge3.drop('count', axis = 1)

In [416]:
merge4 = pd.merge(spfwl_san2, merge3,  on = 'country_c', how = 'outer')

In [420]:
merge4 =  merge4.drop('count', axis = 1)

In [426]:
merge4 = merge4.fillna(0)

In [430]:
merge4['missing_count'] = merge4['san_count'] + merge4['pol_count'] + merge4['food_count'] + merge4['life_count'] + merge4['water_count']

In [434]:
merge4 = merge4.sort_values('missing_count', ascending = False)

In [490]:
merge4['no_food_count'] = merge4['missing_count'] - merge4['food_count']
merge_3 = merge4.loc[merge4['no_food_count'] == 3]
merge_2 = merge4.loc[merge4['no_food_count'] == 2]
merge_1 = merge4.loc[merge4['no_food_count'] == 1]

In [492]:
merge_1

,country_c,san_count,pol_count,food_count,life_count,water_count,missing_count,no_food_count
74,St. Helena,0.0,1.0,1.0,0.0,0.0,2.0,1.0
36,Hong Kong,0.0,1.0,1.0,0.0,0.0,2.0,1.0
73,St. Barths,0.0,1.0,1.0,0.0,0.0,2.0,1.0
39,Isle of Man,0.0,1.0,1.0,0.0,0.0,2.0,1.0
71,Sint Maarten,0.0,1.0,1.0,0.0,0.0,2.0,1.0
47,Mayotte,0.0,1.0,1.0,0.0,0.0,2.0,1.0
43,Liechtenstein,0.0,1.0,1.0,0.0,0.0,2.0,1.0
44,Macau,0.0,1.0,1.0,0.0,0.0,2.0,1.0
46,Martinique,0.0,1.0,1.0,0.0,0.0,2.0,1.0
32,Guadeloupe,0.0,1.0,1.0,0.0,0.0,2.0,1.0
51,Montserrat,0.0,1.0,1.0,0.0,0.0,2.0,1.0
67,Saint-Martin,0.0,1.0,1.0,0.0,0.0,2.0,1.0
55,New Caledonia,0.0,1.0,1.0,0.0,0.0,2.0,1.0
65,Reunion,0.0,1.0,1.0,0.0,0.0,2.0,1.0
59,Northern Mariana Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
33,Guam,0.0,1.0,1.0,0.0,0.0,2.0,1.0
30,Gibraltar,0.0,1.0,1.0,0.0,0.0,2.0,1.0
31,Greenland,0.0,1.0,1.0,0.0,0.0,2.0,1.0
81,Turks and Caicos Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
8,Bermuda,0.0,1.0,1.0,0.0,0.0,2.0,1.0
11,"Bonaire, Saint Eustatius and Saba",0.0,1.0,1.0,0.0,0.0,2.0,1.0
12,British Virgin Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
84,United States Virgin Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
14,Cayman Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
83,TÃ¼rkiye,1.0,0.0,1.0,0.0,0.0,2.0,1.0
63,Puerto Rico,0.0,1.0,1.0,0.0,0.0,2.0,1.0
26,Faroe Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
27,French Guiana,0.0,1.0,1.0,0.0,0.0,2.0,1.0
75,St. Pierre and Miquelon,0.0,1.0,1.0,0.0,0.0,2.0,1.0
25,Falkland Islands,0.0,1.0,1.0,0.0,0.0,2.0,1.0
28,French Polynesia,0.0,1.0,1.0,0.0,0.0,2.0,1.0
79,Tokelau,0.0,1.0,1.0,0.0,0.0,2.0,1.0
19,Croatia,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [ ]:
# China IS in San, Water, Life, Pol
# China is NOT in Food

In [496]:
# I ended up getting rid of the food insecurity metric due to it missing so much data from major countries. 
#I replaced it with a data set that focuses on the share of a population that can't afford a calorie sufficient diet.

# I also got rid of the pollution dataframe I was using and downloaded an alternative one that contained more records.