In [1]:
import pandas as pd
import numpy as np

In [5]:
dep = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\depression_2024.csv")
sch = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\edu_201720182020.csv")
er = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\equal_rights_20192023.csv")
lgbt = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\lgbt_2025.csv")
sui = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\suicide_2019.csv")

,country,year,school,norm_school,school_log8_n
0,Singapore,2018.333333,12.883721,1.000000,8.000000
1,Japan,2018.333333,12.106581,0.926911,7.415284
2,South Korea,2018.333333,12.057239,0.922270,7.378159
3,Hong Kong,2018.333333,12.000000,0.916887,7.335093
4,Finland,2018.333333,11.945446,0.911756,7.294047
...,...,...,...,...,...
169,Mali,2018.333333,2.726247,0.044697,0.357572
170,Central African Republic,2020.000000,2.696155,0.041866,0.334931
171,Niger,2018.333333,2.661517,0.038609,0.308870
172,South Sudan,2018.333333,2.434231,0.017233,0.137861
173,Liberia,2018.333333,2.251002,0.000000,0.000000

In [15]:
ds = pd.merge(dep, sch, left_on = 'country_c', right_on = 'country',  how = 'inner')
dse =  pd.merge(ds, er, on = 'country_c',  how = 'inner')

In [25]:
dse = dse[['country_c', 'dep_rate',
       'deprate_log8_n','school',
       'school_log8_n', 'equal_rights',
       'equal_rights_log8']]

In [27]:
dsel = pd.merge(dse, lgbt, on = 'country_c',  how = 'inner')

In [29]:
dsels = pd.merge(dsel, sui, on = 'country_c',  how = 'inner')

In [37]:
dsels = dsels[['country_c', 'dep_rate', 'deprate_log8_n', 'school', 'school_log8_n',
       'equal_rights', 'equal_rights_log8', 'country_x', 'year', 'lgbt_eindex',
       'norm_lgbt_eindex', 'lgbt_log8_n', 'sui_rate',
        'sui_log8_n']]

In [41]:
dsels['dsels_pts'] = dsels['deprate_log8_n'] + dsels['school_log8_n'] + dsels['equal_rights_log8'] + dsels['lgbt_log8_n'] + dsels['sui_log8_n']

C:\Users\eabro\AppData\Local\Temp\ipykernel_71968\140380535.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dsels['dsels_pts'] = dsels['deprate_log8_n'] + dsels['school_log8_n'] + dsels['equal_rights_log8'] + dsels['lgbt_log8_n'] + dsels['sui_log8_n']

In [61]:
dsels = dsels.sort_values('dsels_pts', ascending = False)
dsels2.loc[dsels2['country_c'] == 'United States']

,index,country_c,dep_rate,deprate_log8_n,school,school_log8_n,equal_rights,equal_rights_log8,country_x,year,lgbt_eindex,norm_lgbt_eindex,lgbt_log8_n,sui_rate,sui_log8_n,dsels_pts
51,145,United States,5.9,0.941176,10.825505,6.45141,0.704833,5.620409,United States,2025,81.11,0.810208,6.481664,16.1,6.255556,25.750214

In [59]:
dsels2 = dsels.reset_index()

In [63]:
dsels.to_csv('Points_Category_C_0416.csv', index=False, header=True)

In [65]:
res = pd.read_csv(r"C:\Users\eabro\Documents\NSS\Python\Projects\Utopia\EmilyBroh_Capstone\emilybroh_capstone\Category_C\Research_20162020.csv")

In [75]:
dselsr = pd.merge(dsels, res, on = 'country_c', how = 'inner')

In [83]:
dselsr = dselsr[['country_c', 'dep_rate', 'deprate_log8_n', 'school', 'school_log8_n',
       'equal_rights', 'equal_rights_log8', 'country_x', 'year_x',
       'lgbt_eindex', 'norm_lgbt_eindex', 'lgbt_log8_n', 'sui_rate',
       'sui_log8_n',  'research',
        'research_log8_n', 'dsels_pts',]]

In [85]:
dselsr['dselsr_pts'] = dselsr['dsels_pts'] + dselsr['research_log8_n']

C:\Users\eabro\AppData\Local\Temp\ipykernel_71968\3522890131.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dselsr['dselsr_pts'] = dselsr['dsels_pts'] + dselsr['research_log8_n']

In [91]:
dselsr = dselsr[['country_c', 'dep_rate', 'deprate_log8_n', 'school', 'school_log8_n',
       'equal_rights', 'equal_rights_log8',
       'lgbt_eindex', 'lgbt_log8_n', 'sui_rate',
       'sui_log8_n', 'research', 'research_log8_n', 'dselsr_pts']]

In [95]:
dselsr = dselsr.sort_values('dselsr_pts', ascending = False)

In [99]:
dselsr.head(15)

,country_c,dep_rate,deprate_log8_n,school,school_log8_n,equal_rights,equal_rights_log8,lgbt_eindex,lgbt_log8_n,sui_rate,sui_log8_n,research,research_log8_n,dselsr_pts
5,Germany,5.2,2.588235,11.346023,6.843044,0.957500,7.814728,100.00,8.000000,12.3,6.677778,108273.810,1.594934,33.518719
0,Iceland,4.1,5.176471,10.691128,6.350305,0.895500,7.276280,97.62,7.808701,11.9,6.722222,668.916,0.009849,33.343828
6,United Kingdom,4.5,4.235294,11.491761,6.952697,0.802833,6.471504,81.59,6.520245,7.9,7.166667,101443.078,1.494313,32.840719
1,Netherlands,4.7,3.764706,11.669952,7.086767,0.922667,7.512213,90.46,7.233196,11.8,6.733333,31651.408,0.466239,32.796454
8,Japan,4.2,4.941176,12.106581,7.415284,0.976333,7.978288,58.00,4.624133,15.3,6.344444,101268.906,1.491747,32.795074
2,Ireland,4.8,3.529412,11.784788,7.173169,0.959500,7.832097,85.00,6.794333,9.6,6.977778,7538.820,0.111046,32.417835
3,Denmark,5.0,3.058824,11.297683,6.806673,0.978000,7.992763,92.86,7.426103,10.7,6.855556,14588.752,0.214896,32.354814
51,United States,5.9,0.941176,10.825505,6.451410,0.704833,5.620409,81.11,6.481664,16.1,6.255556,437516.896,6.444883,32.195097
4,Norway,4.7,3.764706,11.227795,6.754091,0.955667,7.798806,86.82,6.940621,11.8,6.733333,12103.958,0.178294,32.169850
9,Spain,5.2,2.588235,10.652554,6.321282,0.878000,7.124299,99.66,7.972672,7.7,7.188889,58182.578,0.857059,32.052436
14,France,4.8,3.529412,11.247191,6.768684,0.849833,6.879682,88.64,7.086908,13.8,6.511111,67998.036,1.001647,31.777444
10,Austria,5.1,2.823529,11.283931,6.796327,0.966333,7.891442,90.68,7.250879,14.6,6.422222,13000.290,0.191497,31.375897
7,Malta,5.1,2.823529,10.155583,5.947364,0.885500,7.189434,100.00,8.000000,6.1,7.366667,423.092,0.006227,31.333221
79,China,4.2,4.941176,9.370473,5.356651,0.341500,2.464990,42.38,3.368633,8.1,7.144444,543087.380,8.000000,31.275895
13,Sweden,4.9,3.294118,11.653311,7.074246,0.949167,7.742356,80.46,6.429418,14.7,6.411111,21050.022,0.310075,31.261323